<div class="main-container ">
  <div class="layer">
    <p class="title">SuperHackers</p>
    <div class="inputs">
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" slot="start"></ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input placeholder="Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" slot="start"></ion-label>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
      <div>
        <ion-button (click)="signin()" class="button" size="large" expand="full">Sign In</ion-button>
      </div>
    </div>
  </div>
</div>