<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/shapes.svg" alt="Background image">
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>
        Welcome
      </ion-label>
    </ion-list-header>
    <ion-button (click)="track()">
      Track your current delivery
    </ion-button>
    <ion-item>
      <ion-icon slot="start" color="medium" name="bulb"></ion-icon>
      <ion-label>Currently active</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="bulb"></ion-icon>
      <ion-label>Toggle your Status</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="bicycle"></ion-icon>
      <ion-label>Past Couriers</ion-label>
      <ion-icon slot="end" color="medium" type="ios" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="card"></ion-icon>
      <ion-label>
        Total Earned:
      </ion-label>
      <span margin-left style="font-size: xx-large;"><b>₹ 32</b></span>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Terms and Conditions</ion-label>
    </ion-item>
  </ion-list>
</ion-content>